@import url("https://fonts.googleapis.com/css2?family=Afacad&family=Poppins&display=swap");

:root {
  --dark-green: hsla(174, 79%, 9%, 1);
  --dark-slate-gray: hsla(179, 38%, 26%, 1);
  --hunyadi-yellow: hsla(38, 80%, 60%, 1);
  --gamboge: hsla(35, 82%, 52%, 1);
  --ivory: hsla(78, 81%, 96%, 1);
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Poppins";
  text-decoration: none;
  list-style: none;
}
